<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.connString" connectionString="Data Source=HASSANMAHMU36A5;Initial Catalog=MovieDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.MovieDBConnectionString"
            connectionString="Data Source=HASSANMAHMU36A5;Initial Catalog=MovieDB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>